<div class="bg-white text-center">
    <div class="container-fluid py-5">
        <div class="row justify-content-center">
            <div class="col-auto">
                <h6 class="fw-bold">More questions ?</h6>
                <small class="text-muted">Contact us <span class="mx- fw-bold">+91 897 567 6756</span> for any enquiries.</small>
                <div class="row justify-content-center">
                    <div class="col-10">
                        <a href="{{ site.baseurl }}/html/products.html" class="btn btn-primary  btn-shadow btn-lg w-100 my-5">Continue Shopping</a>
                        <h6 class="fw-bold">100% Money Back Guarantee</h6> 
                        <small class="text-muted">If you're not satsified for any reason, we'll refund your money</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-primary text-light">
    <div class="container-fluid">
        <div class="row justify-content-around mb-0 pt-5">
            <div class="col-xl-2 col-md-4 order-xl-1 order-4">
                <ul class="list-unstyled text-center text-md-start mt-md-3">
                    <li class="mb-3">
                        <a href="{{ site.baseurl }}/html/index.html">
                            <img src="{{ site.baseurl }}/assets/images/next-full.png" width="120">
                        </a>
                    </li>
                    <li class="fw-bold mb-3">Social Media</li>
                    <li class="social"> 
                        <span> <i class="bi bi-facebook bi-2x me-3" aria-hidden="true"></i></span> 
                        <span> <i class="bi bi-instagram bi-2x me-3" aria-hidden="true"></i> </span> 
                        <span> <i class="bi bi-twitter bi-2x me-3" aria-hidden="true"></i> </span> 
                    </li>
                </ul>
            </div>
            <div class="col-xl-2 col-md-3 pt-4 order-1">
                <ul class="list-unstyled text-center text-md-start">
                    <li class="fw-bold mb-3">Our Menu</li>
                    <li>Women's fashion </li>
                    <li>Men's fashion</li>
                    <li>Home & Kitchen</li>
                    <li>Sport</li>
                    <li>Outdoors</li>
                </ul>
            </div>
            <div class="col-xl-2 col-md-3 pt-4 order-2">
                <ul class="list-unstyled text-center text-md-start">
                    <li class="fw-bold mb-3">Top's deal</li>
                    <li>Today's deal </li>
                    <li>Loyalty</li>
                    <li>Features</li>
                    <li>Clients</li>
                </ul>
            </div>
            <div class="col-xl-auto col-md-3 pt-4 order-md-3 order-sm-1 ">
                <ul class="list-unstyled text-center text-md-start">
                    <li class="fw-bold mb-3">Help</li>
                    <li>Contact Support </li>
                    <li>Delivery</li>
                    <li>track courrier</li>
                    <li>Store</li>
                </ul>
            </div>
            <div class="col-xl-auto col-md-6 col-12 pt-4 order-last">
                <label for="email" class="mb-3 fw-bold">Newsletter</label>
                <div class="card card-body shadow m-0 p-1">
                    <div class="input-group">
                        <input type="text" class="form-control border-0" placeholder="Enter your email">
                        <span class="input-group-text border-0 bg-transparent">
                        <button class="btn btn-primary btn-shadow py-2 px-3">Subscribe</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center pt-5">
            <div class="col text-center my-5">
                <p class="mb-0"><img src="{{ site.baseurl }}/assets/images/misc/payments.png" height="26"></p>
            </div>
            <div class="text-center text-muted small py-2"> Copyright &#9400;Next <script>document.write(new Date().getFullYear()) </script></div>
        </div>
    </div>
</div>