<div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-between mb-3">
          <h5 class="m-0 fw-bold text-muted">Tags</h5>
          <button class="btn btn-link text-primary p-0"></button><i class="bi bi-tags"></i></button>
        </div>
        <ul class="list-menu">
            <li><a href="#">People </a></li>
            <li><a href="#">Watches </a></li>
            <li><a href="#">Cinema </a></li>
            <li><a href="#">Clothes </a></li>
            <li><a href="#">Home items </a></li>
            <li><a href="#">Animals</a></li>
            <li><a href="#">People </a></li>
        </ul>
    </div> 
    <div class="card-body">
        <div class="d-flex justify-content-between mb-3">
            <h5 class="m-0 fw-bold text-muted">Brands</h5>
            <button class="btn btn-link text-primary p-0"></button><i class="bi bi-tags"></i></button>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Nike
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
            <label class="form-check-label" for="flexCheckChecked">
              Nivea
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
            <label class="form-check-label" for="flexCheckChecked">
              Dixon
            </label>
        </div>
    </div> 
    <div class="card-body">
        <div class="d-flex justify-content-between mb-3">
          <h5 class="m-0 fw-bold text-muted">Price range</h5>
          <button class="btn btn-link text-primary p-0"></button><i class="bi bi-tags"></i></button>
        </div>
        <input type="range" class="form-range" min="0" max="100" name="">
        <div class="row mb-3">
            <div class="form-group col-md-6">
                <label>Min</label>
                <input class="form-control" placeholder="$0" type="number">
            </div>
            <div class="form-group text-right col-md-6">
                <label>Max</label>
                <input class="form-control" placeholder="$1,0000" type="number">
            </div>
        </div> 
        <button class="btn w-100 btn-primary">Apply</button>
    </div>
    <div class="card-body">
        <div class="d-flex justify-content-between mb-3">
          <h5 class="m-0 fw-bold text-muted">Sizes</h5>
          <button class="btn btn-link text-primary p-0"></button><i class="bi bi-tags"></i></button>
        </div>
        <div class="btn-group btn-group-sm" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
            <label class="btn btn-outline-primary" for="btnradio1">XS</label>
          
            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
            <label class="btn btn-outline-primary" for="btnradio2">SM</label>
          
            <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
            <label class="btn btn-outline-primary" for="btnradio3">MD</label>

            <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
            <label class="btn btn-outline-primary" for="btnradio4">LG</label>

            <input type="radio" class="btn-check" name="btnradio" id="btnradio5" autocomplete="off">
            <label class="btn btn-outline-primary" for="btnradio5">XL</label>
          </div>
    </div>
</div> 