<div class="sidebar">
  <div class="sidebar-inner">
    <div class="sidebar-logo">
      <div class="d-flex align-items-center flex-nowrap">
        <a class="sidebar-link text-decoration-none" href="#">
          <div class="d-flex align-items-center flex-nowrap">
            <div class="logo-sm">
              <div class="logo d-flex align-items-center justify-content-center">
                <img src="{{ site.baseurl }}/assets/images/next.png">
              </div>
            </div>
            <div class="logo-text d-flex align-items-center justify-content-center">
              <img src="{{ site.baseurl }}/assets/images/next-full.png">
            </div>
          </div>
        </a>
        <div class="">
          <div class="mobile-toggle sidebar-toggle">
            <a href="#" class="text-decoration-none">
              <i class="bi bi-x-circle"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

    <ul class="sidebar-menu scrollable position-relative pt-3">

      <li class="nav-item {% if page.title == 'Dashboard' %}{{ 'active' }} {% else %} {{ '' }} {% endif %}">
        <a class="nav-link" href="{{ site.baseurl }}/html/index.html">
          <span class="icon-holder">
              <i class="bi bi-house"></i>
          </span>
          <span class="title">Dashboard</span>
        </a>
      </li>

      <li class="nav-item {% if page.title == 'Activities' %}{{ 'active' }} {% else %} {{ '' }} {% endif %}">
        <a class="nav-link" href="{{ site.baseurl }}/html/activities.html">
          <span class="icon-holder">
            <i class="bi bi-files-alt"></i>
          </span>
          <span class="title">Activities</span>
        </a>
      </li>
      <li class="nav-item {% if page.title == 'Calendar' %}{{ 'active' }} {% else %} {{ '' }} {% endif %}">
        <a class="nav-link" href="{{ site.baseurl }}/html/calendar.html">
          <span class="icon-holder">
            <i class="bi bi-calendar-date"></i>
          </span>
          <span class="title">Calendar</span>
        </a>
      </li>
      <li class="nav-item {% if page.title == 'Chat' %}{{ 'active' }} {% else %} {{ '' }} {% endif %}">
        <a class="nav-link" href="{{ site.baseurl }}/html/chat.html">
          <span class="icon-holder">
            <i class="bi bi-chat-right-text"></i>
          </span>
          <span class="title">Chat</span>
        </a>
      </li>
      <li class="nav-item dropdown {% if page.title == 'Projects' %}{{ 'active' }} {% else %} {{ '' }} {% endif %}">
        <a class="nav-link dropdown-toggle"  href="{{ site.baseurl }}/html/projects.html">
          <span class="icon-holder">
            <i class="bi bi-folder-check"></i>
          </span>
          <span class="title">Projects</span>
        </a>
      </li>
      <li class="nav-item {% if page.title == 'Task' %}{{ 'active' }} {% else %} {{ '' }} {% endif %}">
        <a class="nav-link" href="{{ site.baseurl }}/html/task.html">
          <span class="icon-holder">
            <i class="bi bi-clipboard-check"></i>
          </span>
          <span class="title">Task</span>
        </a>
      </li>
      <li class="nav-item {% if page.title == 'Files' %}{{ 'active' }} {% else %} {{ '' }} {% endif %}">
        <a class="nav-link" href="{{ site.baseurl }}/html/files.html">
          <span class="icon-holder">
            <i class="bi bi-file-earmark-zip"></i>
          </span>
          <span class="title">Files</span>
        </a>
      </li>
      <li class="nav-item {% if page.title == 'Colors' %}{{ 'active' }} {% else %} {{ '' }} {% endif %}">
        <a class="nav-link" href="{{ site.baseurl }}/html/color.html">
          <span class="icon-holder">
            <i class="bi bi-palette"></i>
          </span>
          <span class="title">Colors</span>
        </a>
      </li>
      <li class="nav-item {% if page.title == 'Widgets' %}{{ 'active' }} {% else %} {{ '' }} {% endif %}">
        <a class="nav-link" href="{{ site.baseurl }}/html/widgets.html">
          <span class="icon-holder">
            <i class="bi bi-box-seam"></i>
          </span>
          <span class="title">Widgets</span>
        </a>
      </li>
      <li class="nav-item {% if page.title == 'Accounting' %}{{ 'active' }} {% else %} {{ '' }} {% endif %}">
        <a class="nav-link" href="{{ site.baseurl }}/html/accounting.html">
          <span class="icon-holder">
            <i class="bi bi-piggy-bank"></i>
          </span>
          <span class="title">Accounting</span>
        </a>
      </li>
      <li class="nav-item {% if page.title == 'Invoice' %}{{ 'active' }} {% else %} {{ '' }} {% endif %}">
        <a class="nav-link" href="{{ site.baseurl }}/html/invoice.html">
          <span class="icon-holder">
            <i class="bi bi-receipt"></i>
          </span>
          <span class="title">Invoice</span>
        </a>
      </li>
      <li class="nav-item dropdown {% if page.title == 'Tables' %}{{ 'active' }} {% else %} {{ '' }} {% endif %}">
        <a class="nav-link dropdown-toggle" href="#">
          <span class="icon-holder">
            <i class="bi bi-table"></i>
          </span>
          <span class="title">Tables</span>
          <span class="arrow">
            <i class="bi bi-arrow-right-short"></i>
          </span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a class="sidebar-link" href="{{ site.baseurl }}/html/tables.html"><i class="bi bi-arrow-right me-2"></i> Basic Tables</a>
          </li>
          <li>
            <a class="sidebar-link" href="{{ site.baseurl }}/html/datatables.html"><i class="bi bi-arrow-right me-2"></i> Data Tables</a>
          </li>
        </ul>
      </li>
      <li class="nav-item dropdown {% if page.title == 'UI Elements' %}{{ 'active' }} {% else %} {{ '' }} {% endif %}">
        <a class="nav-link dropdown-toggle" href="#">
          <span class="icon-holder">
            <i class="bi bi-layers"></i>
          </span>
          <span class="title">UI ELements</span>
          <span class="arrow">
            <i class="bi bi-arrow-right-short"></i>
          </span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a class="sidebar-link" href="{{ site.baseurl }}/html/alert.html"><i class="bi bi-arrow-right me-2"></i> Alerts</a>
          </li>
          <li>
            <a class="sidebar-link" href="{{ site.baseurl }}/html/badge.html"><i class="bi bi-arrow-right me-2"></i> Badges</a>
          </li>
          <li>
            <a class="sidebar-link" href="{{ site.baseurl }}/html/button.html"><i class="bi bi-arrow-right me-2"></i> Buttons</a>
          </li>
          <li>
            <a class="sidebar-link" href="{{ site.baseurl }}/html/dropdown.html"><i class="bi bi-arrow-right me-2"></i> Dropdowns</a>
          </li>
          <li>
            <a class="sidebar-link" href="{{ site.baseurl }}/html/form-validation.html"><i class="bi bi-arrow-right me-2"></i> Form validations</a>
          </li>
          <li>
            <a class="sidebar-link" href="{{ site.baseurl }}/html/form.html"><i class="bi bi-arrow-right me-2"></i> Form</a>
          </li>
          <li>
            <a class="sidebar-link" href="{{ site.baseurl }}/html/grid.html"><i class="bi bi-arrow-right me-2"></i> Grid</a>
          </li>
          <li>
            <a class="sidebar-link" href="{{ site.baseurl }}/html/modal.html"><i class="bi bi-arrow-right me-2"></i> Modal</a>
          </li>
          <li>
            <a class="sidebar-link" href="{{ site.baseurl }}/html/navs.html"><i class="bi bi-arrow-right me-2"></i> Navs</a>
          </li>
          <li>
            <a class="sidebar-link" href="{{ site.baseurl }}/html/popover-tooltips.html"><i class="bi bi-arrow-right me-2"></i> Popover-tooltips</a>
          </li>
          <li>
            <a class="sidebar-link" href="{{ site.baseurl }}/html/progress.html"><i class="bi bi-arrow-right me-2"></i> Progress</a>
          </li>
          <li>
            <a class="sidebar-link" href="{{ site.baseurl }}/html/spinners.html"><i class="bi bi-arrow-right me-2"></i> Spinners</a>
          </li>
          <li>
            <a class="sidebar-link" href="{{ site.baseurl }}/html/tables.html"><i class="bi bi-arrow-right me-2"></i> Tables</a>
          </li>
          <li>
            <a class="sidebar-link" href="{{ site.baseurl }}/html/toasts.html"><i class="bi bi-arrow-right me-2"></i> Toasts</a>
          </li>
        </ul>
      </li>
      <li class="nav-item dropdown {% if page.title == 'Page' %}{{ 'active' }} {% else %} {{ '' }} {% endif %}">
        <a class="nav-link dropdown-toggle" href="#">
          <span class="icon-holder">
            <i class="bi bi-journal-code"></i>
          </span>
          <span class="title">Pages</span>
          <span class="arrow">
            <i class="bi bi-arrow-right-short"></i>
          </span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a class="sidebar-link" href="{{ site.baseurl }}/html/project-new.html"><i class="bi bi-arrow-right me-2"></i> New Project</a>
          </li>
          <li>
            <a class="sidebar-link" href="{{ site.baseurl }}/html/project-details.html"><i class="bi bi-arrow-right me-2"></i> Project Details</a>
          </li>
          <li>
            <a class="sidebar-link" href="{{ site.baseurl }}/html/blank.html"><i class="bi bi-arrow-right me-2"></i> Blank Page</a>
          </li>
          <li>
            <a class="sidebar-link" href="{{ site.baseurl }}/html/404.html"><i class="bi bi-arrow-right me-2"></i> 404</a>
          </li>
          <li>
            <a class="sidebar-link" href="{{ site.baseurl }}/html/500.html"><i class="bi bi-arrow-right me-2"></i> 500</a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <hr class="dropdown-divider">
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}/html/login.html">
          <span class="icon-holder">
            <i class="bi bi-shield-check"></i>
          </span>
          <span class="title">Login</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}/html/register.html">
          <span class="icon-holder">
            <i class="bi bi-unlock"></i>
          </span>
          <span class="title">Register</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}/html/2fa.html">
          <span class="icon-holder">
            <i class="bi bi-shield-lock"></i>
          </span>
          <span class="title">2FA</span>
        </a>
      </li>
      <li class="nav-item">
        <hr class="dropdown-divider">
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}/html/landing.html" target="_blank">
          <span class="icon-holder">
            <i class="bi bi-globe"></i>
          </span>
          <span class="title">Landing</span>
        </a>
      </li>

      <li class="nav-item dropdown {% if page.title == 'Tables' %}{{ 'active' }} {% else %} {{ '' }} {% endif %}">
        <a class="nav-link dropdown-toggle" href="#">
          <span class="icon-holder">
            <i class="bi bi-shop"></i>
          </span>
          <span class="title">Ecommerce</span>
          <span class="arrow">
            <i class="bi bi-arrow-right-short"></i>
          </span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a class="sidebar-link" href="{{ site.baseurl }}/html/products.html" target="_blank"><i class="bi bi-arrow-right me-2"></i> Products</a>
          </li>
          <li>
            <a class="sidebar-link" href="{{ site.baseurl }}/html/product.html" target="_blank"><i class="bi bi-arrow-right me-2"></i> Product</a>
          </li>
          <li>
            <a class="sidebar-link" href="{{ site.baseurl }}/html/checkout.html" target="_blank"><i class="bi bi-arrow-right me-2"></i> Checkout</a>
          </li>
          <li>
            <a class="sidebar-link" href="{{ site.baseurl }}/html/cart.html" target="_blank"><i class="bi bi-arrow-right me-2"></i> Shopping Cart</a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <hr class="dropdown-divider">
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#">
          <span class="icon-holder">
            <i class="bi bi-folder-plus"></i>
          </span>
          <span class="title">Multiple Levels</span>
          <span class="arrow">
            <i class="bi bi-arrow-right-short"></i>
          </span>
        </a>
        <ul class="dropdown-menu">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#">
              <span>Menu Item</span>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#">
              <span class="title">Menu Items</span>
              <span class="arrow">
                <i class="bi bi-arrow-right-short"></i>
              </span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="#">Menu Item</a>
              </li>
              <li>
                <a href="#">Menu Item</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <div class="mt-4"></div>
      </li>
    </ul>
  </div>
</div>