---
layout: blank
title: Whishlist
---

{% include _navbar-shop.html %}

<div class="container my-5">
    <div class="card">
        <div class="card-body text-center py-5">
            <div class="d-flex my-4 justify-content-center">
                <span class="bg-danger-light text-light shop-bag">
                    <i class="bi bi-heart text-danger"></i>
                </span>
            </div>
            <h3 class="text-danger fw-bold">Whishlist is Empty</h3>
            <p class="text-muted">The items that you saved will be shown here.</p>
        </div>
    </div>
</div>

{% include _footer-shop.html %}